.header{
    display: flex;
    block-size: 80px;
    inline-size: 100vw;
    background-color: var(--primary-color);
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
