.link{
    width: 290px;
    margin: 0 auto;
}

.link a{
    display: block;
    text-align: center;
    margin: 10px 0;
    color: var(--second-color);
    text-decoration: none;
}

.link a:hover{
    color: var(--primary-color);
}