.container-button{
    width: 100%;
        display: grid;
        grid-template-columns: 47% 47%;
        column-gap: 15px;   
}

@media screen and (min-width: 560px) {
    .register--inputs{
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 15px;
    }

    .container-button{
        width: 100%;
        display: grid;
        grid-template-columns: 47% 47%;
        justify-content: space-between;
        column-gap: 15px;   
    }

    .desktop{
        grid-column: 1 / 3;
    }
}